In [87]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
fruits =   ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", 
            "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", 
            "blackberry", "gooseberry", "papaya"]

# 1.)Determine the number of elements in fruits.

In [3]:
fruit_series = pd.Series(fruits)
print(fruit_series.size)

17

# 2.)Output only the index from fruits.

In [4]:
fruit_series.index

RangeIndex(start=0, stop=17, step=1)

# 3.)Output only the values from fruits.

In [5]:
fruit_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

# 4.)Confirm the data type of the values in fruits.

In [6]:
fruit_series.dtype

dtype('O')

# 5.)Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [7]:
fruit_series.head(2)

0     kiwi
1    mango
dtype: object

In [8]:
fruit_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [9]:
fruit_series.sample(2)

12    mango
0      kiwi
dtype: object

# 6.)Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [10]:
fruit_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

# 7.)Run the code necessary to produce only the unique string values from fruits.

In [11]:
fruit_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

# 8.)Determine how many times each unique string value occurs in fruits.

In [12]:
fruit_series.value_counts()

kiwi                4
mango               2
watermelon          1
gooseberry          1
blackberry          1
tomato              1
pineapple           1
honeycrisp apple    1
papaya              1
strawberry          1
gala apple          1
honeydew            1
blueberry           1
dtype: int64

# 9.)Determine the string value that occurs most frequently in fruits.

In [13]:
fruit_series.value_counts().head(1)

kiwi    4
dtype: int64

# 10.)Determine the string value that occurs least frequently in fruits.

In [14]:
#fruit_series.value_counts().tail(1)

fruit_series.value_counts().nsmallest(keep='all')

watermelon          1
gooseberry          1
blackberry          1
tomato              1
pineapple           1
honeycrisp apple    1
papaya              1
strawberry          1
gala apple          1
honeydew            1
blueberry           1
dtype: int64

## Part 2

# 1.)Capitalize all the string values in fruits.

In [15]:
fruit_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

# 2.)Count the letter "a" in all the string values (use string vectorization).

In [16]:
fruit_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

# 3.)Output the number of vowels in each and every string value.

In [106]:
def vowels(string):
    
    letters = list('aeiou')
    count = 0
    for i in string:
        if i in letters:
            count += 1
            
    return count


fruit_series.apply(vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

# 4.)Write the code to get the longest string value from fruits.

In [32]:
fruit_series.max()

'watermelon'

# 5.)Write the code to get the string values with 5 or more letters in the name.

In [36]:
(fruit_series.str.len() >= 5).any()

fruit_series[fruit_series.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

# 6.)Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [38]:
fruit_series.apply(lambda row: row.count('o'))

0     0
1     1
2     0
3     0
4     0
5     1
6     2
7     1
8     1
9     0
10    0
11    0
12    1
13    0
14    0
15    2
16    0
dtype: int64

# 7.)Write the code to get only the string values containing the substring "berry".

In [51]:
fruit_series[fruit_series.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

# 8.)Write the code to get only the string values containing the substring "apple".

In [52]:
fruit_series[fruit_series.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

# 9.)Which string value contains the most vowels?

In [60]:
fruit_series[fruit_series.apply(vowels)].sort_index(ascending = False).head(1)

5    honeycrisp apple
dtype: object

In [64]:
fruit_series[fruit_series.apply(vowels).idxmax()]

'honeycrisp apple'

## Part 3

In [93]:
big_O_string = pd.Series(list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'))

# 1.)Which letter occurs the most frequently in the letters Series?

In [105]:
big_O_string
big_O_string.value_counts().nlargest(n =1, keep = 'all')#.idxmax()

y    13
dtype: int64


# 2.)Which letter occurs the Least frequently?

In [104]:
big_O_string.value_counts().nsmallest(n = 1, keep = 'all')#.idxmin()

l    4
dtype: int64

# 3.)How many vowels are in the Series?

In [107]:
vowels(big_O_string)

34

# 4.) How many consonants are in the Series?

In [108]:
big_O_string.size

200

In [110]:
big_O_string.size - vowels(big_O_string)

166

In [ ]:






Create a Series that has all of the same letters but uppercased.

Create a bar plot of the frequencies of the 6 most commonly occuring letters.