In [8]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [52]:
fruits =   ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", 
            "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", 
            "blackberry", "gooseberry", "papaya"]

# 1.)Determine the number of elements in fruits.

In [53]:
fruit_series = pd.Series(fruits)
print(fruit_series.size)

17

# 2.)Output only the index from fruits.

In [6]:
fruit_series.index

RangeIndex(start=0, stop=17, step=1)

# 3.)Output only the values from fruits.

In [12]:
fruit_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

# 4.)Confirm the data type of the values in fruits.

In [14]:
fruit_series.dtype

dtype('O')

# 5.)Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [15]:
fruit_series.head(2)

0     kiwi
1    mango
dtype: object

In [16]:
fruit_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [17]:
fruit_series.sample(2)

0      kiwi
6    tomato
dtype: object

# 6.)Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [18]:
fruit_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

# 7.)Run the code necessary to produce only the unique string values from fruits.

In [19]:
fruit_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

# 8.)Determine how many times each unique string value occurs in fruits.

In [20]:
fruit_series.value_counts()

kiwi                4
mango               2
gala apple          1
pineapple           1
strawberry          1
blueberry           1
tomato              1
honeycrisp apple    1
papaya              1
watermelon          1
gooseberry          1
blackberry          1
honeydew            1
dtype: int64

# 9.)Determine the string value that occurs most frequently in fruits.

In [33]:
fruit_series.value_counts().head(1)

kiwi    4
dtype: int64

# 10.)Determine the string value that occurs least frequently in fruits.

In [38]:
#fruit_series.value_counts().tail(1)

fruit_series.value_counts().nsmallest(keep='all')

gala apple          1
pineapple           1
strawberry          1
blueberry           1
tomato              1
honeycrisp apple    1
papaya              1
watermelon          1
gooseberry          1
blackberry          1
honeydew            1
dtype: int64

## Part 2

# 1.)Capitalize all the string values in fruits.

In [39]:
fruit_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

# 2.)Count the letter "a" in all the string values (use string vectorization).

In [40]:
fruit_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [ ]:
# 3.)Output the number of vowels in each and every string value.

In [59]:
vowels = list('aeiou')

#fruit_series.str.count('aeiou')
#fruit_series.str.count(vowels)

#fruit_series.isin(vowels)
fruit_series.isin(vowels)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

# 4.)Write the code to get the longest string value from fruits.

In [ ]:
fruit_series.str

In [ ]:


# 5.)Write the code to get the string values with 5 or more letters in the name.

# 6.)Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

# 7.)Write the code to get only the string values containing the substring "berry".

# 8.)Write the code to get only the string values containing the substring "apple".

# 9.)Which string value contains the most vowels?